HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/test/
/test/
/jest.config.js
/package.json
/package-lock.json
/README.md
/tsconfig.json
/src/AdminFlightApi.ts
/src/axios.ts
/src/CustomerFlightApi.ts
/src/formatting.ts
/src/index.ts
/src/TestApi.ts
/node_modules/
/src/api/
/src/demo-data/
